/* JUST FOR THIS DEMO */
html,body{
  height:100%;
  width:100%;
  font-weight: normal;
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 14px;
  outline-style: solid;
}

.simple_box {
  height: 100%;
  outline-style: solid;
  padding: 20px;
  box-sizing: border-box;
}

.too_close {
  color: #a4affb;
  font-weight: bold;
}

.frequent {
    color: #ef7c7c;
    font-weight: bold;
}

.issue {
  outline-style: solid;
  box-sizing: border-box;
}

.label {
  float: left;
  width: 30%;
  padding: 2px;
  box-sizing: border-box;
}

.config_item {
  padding: 2px;
  box-sizing: border-box;
  width: 70%;
  float:right;
}

#text_input {
  overflow:scroll;
  width: 60%;
  font-size: 16px;
}

#summary_statistics {
  float: right;
  width: 40%;
  height: 100%;
}

#stop_words {
  overflow: scroll;
  height: 50px;
  width: 100%;
  padding: 2px;
  box-sizing: border-box;
}

#issue_queue {
  overflow: scroll;
  height:50%;
}
