/* JUST FOR THIS DEMO */
html,body{
  height:100%;
  width:100%;
  font-weight: normal;
  font-family: medium-content-sans-serif-font,"Lucida Grande",
  "Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif!important;
  font-size: 14px;
}

.simple_box {
  height: 100%;
  padding: 28px;
  box-sizing: border-box;
}

.too_close {
  color: #a4affb;
  font-weight: bold;
}

.frequent {
    color: #ef7c7c;
    font-weight: bold;
}

.issue {
  border-bottom: 1px solid;
  height: 30px;
}

.label {
  float: left;
  width: 30%;
  padding: 2px;
  box-sizing: border-box;
  font-weight: bold;
}

.config_item {
  padding: 2px;
  box-sizing: border-box;
  width: 70%;
  float:right;
}

/* Font styles from Medium */
#text_input {
  overflow:scroll;
  width: 65%;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
  font-family: medium-content-serif-font, Georgia, Cambria,
  "Times New Roman", Times, serif;
  box-sizing: border-box;
  border-right: 2px dotted #000;
}

#config {
  background-color:#eaeaea;
  box-sizing: border-box;
  margin-top: 10px;
  mragin-bottom: 10px;
  padding: 10px;
  display: none;
}
#summary_statistics {
  float: right;
  width: 35%;
  height: 100%;
}

#stop_words {
  overflow: scroll;
  height: 50px;
  width: 100%;
  padding: 2px;
  box-sizing: border-box;
}

#issue_queue {
  overflow: scroll;
  height:50%;
}
